@import "compass/reset";
@import "compass/css3";

$borderinput: 1px solid #000;
$margin: 10px 5px 10px 5px;
$displaynone: none;
$displayblock: block;

@mixin pseudo($display: block, $content: '')
{
    content: $content;
    display: $display;
}

@mixin browser($property, $css) {
    -webkit-transition-#{$property} : $css;
    -moz-transition-#{$property} : $css;
    -o-transition-#{$property} : $css;
    transition-#{$property} : $css;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif;
}

/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}


input[type="text"],input[type="password"] {
    border: $borderinput;
    padding:5px;
    margin:$margin;
    width: 180px;
}

input[type="submit"] {
    border: $borderinput;
    border-radius:0;
    background-color:#fafafa;
    margin:$margin;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}

.feedback
{
    margin:$margin;
    font-size:11px;
    font-weight:600;

    .error
    {
        color:#d9534f;

        &:before
        {
            @extend .error;
            width: 10%;
        }
    }
    .warning
    {
        color:#f0ad4e;

        &:before
        {
            @extend .warning;
            width: 60%;
        }
    }
    .success
    {
        color:#5cb85c;

        &:before
        {
            @extend .success;
            width: 100%;
        }
    }
}

.strengthIndicator
{
    margin: $margin;
    width: 200px;
    padding:5px;
    height: 13px;
    border:1px solid #d3d3d3;

    &:before
    {
        @include pseudo;
        height: 100%;

        @include browser(property, width);
        @include browser(delay, 0);
        @include browser(duration, 250ms);
        @include browser(timing-function, linear);
    }
}
.passwordWrapper::after {

    @include pseudo;
    clear: both;
    float: none;
}

.feedback.error, .feedback.warning, .feedback.success {
    display: $displaynone;
}

.error .feedback.error {
    display: $displayblock;
}

.warning .feedback.warning {
    display: $displayblock;
}

.success .feedback.success {
    display: $displayblock;
}

